.info-avatar
    .info-avatar__img
        img(src="/images/content/empty-face.svg" alt="lorem")
    .info-avatar__data Регистрация: 3 месяца 17 дней назад
    label.info-avatar__add
        input(type="file" name="file" data-event="changeAvatar")
        span.info-avatar__fake.btn Загрузить аватар

