.info{
  display:grid;
  grid-template-columns: 265px 470px;
  gap: 30px;

  &__form{
    padding: 45px 50px;
    text-align: left;
    align-items: flex-start;
  }

  &__title{
    margin-bottom: 15px;
  }

  &__txt{
    margin-bottom: 30px;
  }

  &__fields{
    margin-bottom: 60px;
  }

}