header.header
    .header__top
        .header__name Александр Иванов
        .header__mail @alexMainCRM
        a(href="/").header__exit.btn Выйти
    .header__aside
        .header__menu
            a(href="/index.html").header__item.active
                .header__avatar
                    img(src="/images/content/avatar.svg" alt="lorem")
            a(href="/courses.html").header__item
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.3333 10H35" stroke="#333333" stroke-width="3.33333" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.3333 20H35" stroke="#333333" stroke-width="3.33333" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.3333 30H35" stroke="#333333" stroke-width="3.33333" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5 10H5.01708" stroke="#333333" stroke-width="3.33333" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5 20H5.01708" stroke="#333333" stroke-width="3.33333" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5 30H5.01708" stroke="#333333" stroke-width="3.33333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>



