.courses{
  color: $txt2;
  max-width: 1030px;

  &__title{
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 30px;
  }

  &__list{
    display:grid;
    width: 100%;
  }

  &__item{
    border: 1px solid #d1d1d1;
    background-color: $bg;
    width: 100%;
    display:grid;
    gap: 14px;
    padding: 30px 60px;
    margin-bottom: -1px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__name{
    color: $blue;
    font-size: 24px;
  }
}