include default/pug/_mixins
include default/pug/_settings
block variables

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")

        title Portfolio | #{title}

        link(rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png")
        link(rel="manifest" href="/images/favicon/site.webmanifest")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")

        link(rel='stylesheet' href='/css/libs.css')
        link(rel='stylesheet' href='/css/style.css')
        // Для изменений после верстки
        link(rel='stylesheet' href='/css/custom.css')

        script(defer src='/js/libs.js')
        script(defer src='/js/script.js')
        // Для изменений после верстки
        script(defer src='/js/custom.js')
    body
        div(class=(!main)?"wrapper--header":"").wrapper
            if !main
                .wrapper__header
                    include components/header/index

            .wrapper__content
                block content





