.module
    .module__title Модуль 1
    .module__name
        .module__name-title Целеполагание. Достижение целей через цели компании
        .module__name-sub 1 из 1 уроков. Есть задание
    .module__theme Тема: ШКОЛА ПРОДАЖ. Модуль 1 - Целеполагание. Достижение целей через цели компании.
    a(href="https://www.youtube.com/watch?v=R4yZ15_gwC4" data-fancybox).module__video
        button(type='button')
            <svg width="110" height="110" viewBox="0 0 110 110" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M45.8333 75.6248V34.3748L73.3333 54.9998L45.8333 75.6248ZM55 9.1665C48.9811 9.1665 43.0211 10.352 37.4603 12.6554C31.8996 14.9587 26.847 18.3348 22.5909 22.5908C13.9955 31.1862 9.16667 42.8441 9.16667 54.9998C9.16667 67.1556 13.9955 78.8135 22.5909 87.4089C26.847 91.6649 31.8996 95.041 37.4603 97.3443C43.0211 99.6477 48.9811 100.833 55 100.833C67.1558 100.833 78.8137 96.0043 87.4091 87.4089C96.0045 78.8135 100.833 67.1556 100.833 54.9998C100.833 48.9809 99.6478 43.0209 97.3445 37.4602C95.0412 31.8994 91.6651 26.8468 87.4091 22.5908C83.1531 18.3348 78.1004 14.9587 72.5397 12.6554C66.9789 10.352 61.0189 9.1665 55 9.1665Z" fill="white"/>
            </svg>
        //TODO картинку брать из ссылки на видео
        img(src="http://img.youtube.com/vi/R4yZ15_gwC4/maxresdefault.jpg" alt="lorem")
    .module__sub Инструкция по сдаче домашнего задания
    .module__txt Выполненное домашнее задание вы прикрепляете в окно "Ответ" под заданием. Прикрепляйте файлы и пишете текст ответа.
    .module__homework
        include ../homework/index
    .module__answer
        include ../answer/index
    .module__templates
        include ../templates/index