.homework
    .homework__title Домашнее задание к Модулю 1:
    ol.homework__ol
        -
            var list = [
                'Цель на 1 год / сделать декомпозицию до целей каждого дня с привязкой выполнения целей компании(плана продаж) (смотрите шаблон ниже "Цель на год + декомпозиция)',
                'Поговорить с продавцом, у которого доход больше вашего в 2 раза, записать на диктофон(поговорить с продавцом с ТОП - продавцом в своей компании, доходы которые выше вашего, узнать о его успехах, мотивации, способах преодоления трудностей)',
                'Фильмы к просмотру: "Волк с Уолл-стрит", "Бойлерная", "Американцы"',
                'Зафиксировать свои результаты прошлого года(доход, личностные успехи) и расписать 25 целей на этот год.(пример в шаблонах ниже, "Результаты прошлого года + 25 целей на год")',
                'Сделать карту рабочего дня, замерить ее.Включить в нее декомпозицию планов на каждый день(согласно целям на год) (пример в шаблонах ниже, "Карта рабочего дня" + использовать цели из шаблона "Цели на год+декомпозиция")',
            ];
        each i in list
            li.homework__li= i