$font: Arial, sans-serif;

$grey: #d9d9d9;
$bg: #ffffff;
$txt2: #333333;
$btn-hover: #dec26f;
$black: #000000;
$error: #eb5757;
$btn: #b79f58;
$placeholder: #bdbdbd;
$link: #2f80ed;
$border: #828282;
$form: #f6f6f6;
$ok: #6fcf97;
$txt: #4f4f4f;
$link-hover: #f2994a;
$blue: #318fe4;


$font-size: 14px;
$transition: 0.3s;